.cookie-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid 2px red;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    z-index: 10;
  }
  
  .cookie-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
  }
  
  .accept-btn {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .accept-btn:hover {
    background-color: #e67e22;
  }
  