@import "variables";
.menuItem{
    display: flex;
    align-items: flex-start;
    flex-basis: 50%;
    flex-wrap: wrap;
    color: $color-1;
    margin-top: 1em;
    .menuItemName{
        font-size: 1.2rem;
        font-weight: 800;
    }
    .menuItemPrice{
        margin-left: 1em;
        font-size: 1.05rem;
    }
    .menuItemDescription{
        margin-top: 0.5em;
    }
}