@import "variables.scss";

.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    scroll-snap-align: start;
    .devilDrawing{
        // animation: bounce 3s ease-in-out infinite;
        animation: shrink 1s ease-in;
    }
    .timeContainer{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        gap: 3em;
        .time{
            color: $color-1;
            font-weight: 500;
        }
    }
}

@media (max-width: 600px){
    .heroContainer{
        .devilDrawing{
            width: 50%;
        }
        .topText{
            width: 80%;
        }
        .bottomText{
            width: 40%;
        }
        .timeContainer{
            flex-direction: column;
            align-items: center;
            gap: 1em;
        }
    }
}

@keyframes bounce{
    0%{
        transform: translateY(-3em);
    }
    40%{
        transform: translateY(-3.5em);
    }
    100%{
        transform: translateY(-3em);
    }
}

@keyframes shrink {
    0%{
        transform: translateY(-3em) scale(8);
        z-index: 10;
        background-color: black;
    }
    100%{
        transform: translateY(-3em) scale(1);
        z-index: 10;
        background-color: black;
    }
}