@import "variables.scss";

.navigationContainer{
    .navigationButton{
        position: absolute;
        left: 2em;
        top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: none;
        z-index: 3;
        cursor: pointer;
        .line{
            width: 100%;
            height: 3px;
            background-color: $color-1;
            border-radius: 10px;
            transition: all 150ms ease;
        }
        &.showing{
            .line1{
                transform: rotate(45deg) translate(8px, 8px);
            }
            .line2{
                opacity: 0;
            }
            .line3{
                transform: rotate(-45deg) translate(8px, -8px);
            }
        }
    }
    .showingNav{
        position: absolute;
        inset: 0;
        background-color: black;
        z-index: 2;
        animation: slideIn 300ms ease-in-out;
    }
    .hidingNav{
        position: absolute;
        inset: 0;
        background-color: black;
        z-index: 2;
        transform: translateY(-100%);
        animation: slideOut 300ms ease-in-out;
    }
}

@media (max-width: 600px){
    .navigationContainer{
        .navigationButton{
            left: auto;
            right: 2em;
        }
    }
}


@keyframes slideIn{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes slideOut{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}