@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

.reserveContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .mainContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        color: $color-1;
        .leftContainer{
            width: 50%;
            text-shadow: 1px 1px 0px rgb(0,0,0);
            z-index: 3;
            .learnMoreButton{
                border: solid 2px white;
                border-radius: 100px;
                padding: 0.8em 1.3em;
                background-color: black;
                color: white;
                font-weight: 700;
                font-size: 1.2em;
                text-decoration: none;
                margin-top: 2em;
                transition: all 200ms ease;
                &:hover{
                    cursor: pointer;
                    background-color: white;
                    color: black;
                    transform: scale(1.1);
                    text-shadow: none;
                }
            }
            .infoContainer {
                padding: 1em;
                background-color: rgba(0,0,0,0.8);
            }
            .itemContainer{
                display: flex;
                align-items: center;
                width: 100%;
                margin: 3em 0;
                gap: 2em;
                .imageIcon{
                    max-width: 100%;
                    width: 30px;
                    height: 30px;
                }
                .text{
                    font-size: 1.3em;
                    font-weight: 500;
                    span{
                        font-weight: 700;
                        font-family: 'Chela One', cursive;
                    }
                }
            }
            .buttonsContainer{
                display: flex;
                gap: 1em;
                margin-top: 1em auto;
            }
        }
        .rightContainer{
            width: 40%;
            .imageSceneContainer {
                position: relative;
                // border: solid 2px white;
                height: 50vh;
                .palmTree {
                    position: absolute;
                }
                .tree1 {
                    left: 0;
                    bottom: 0;
                    height: 80%;
                    transform: rotate(-10deg);
                }
                .tree2 {
                    right: 0;
                    bottom: 0;
                    height: 70%;
                    transform: scaleX(-1);
                }
                .tree3 {
                    right: -10%;
                    bottom: 0;
                    height: 55%;
                    transform: rotate(20deg) scaleX(-1);
                    opacity: 0.9;
                }
                .tree4 {
                    left: 20%;
                    bottom: 0;
                    height: 100%;
                    transform: rotate(-0deg);
                    opacity: 0.9;
                
                }
            }
        }
    }
}

@media (max-width: 800px){
    .reserveContainer{
        .reservePage{
            justify-content: flex-start;
            padding: 1rem;
            overflow: hidden;
            overflow-y: scroll;
            .mainContainer{
                flex-direction: column;
                gap: 2rem;
                width: 90%;
                margin-top: 5em;
                .leftContainer{
                    width: 100%;
                    font-size: 0.8em;
                    h1 {
                        font-size: 3.5em;
                    }
                    h2{
                        text-align: left;
                    }
                    .itemContainer{
                        .text{
                            font-size: 1.5em;
                        }
                    }
                    .buttonsContainer {
                        width: 90%;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                    }
                }
                .rightContainer{
                    width: 100%;
                    .imageSceneContainer {
                        height: 35vh;
                        .palmTree {
                            position: absolute;
                        }
                        .tree1 {
                            left: 0;
                            bottom: 0;
                            height: 80%;
                            transform: rotate(-10deg);
                        }
                        .tree2 {
                            right: 0;
                            bottom: 0;
                            height: 70%;
                            transform: scaleX(-1);
                        }
                        .tree3 {
                            right: -10%;
                            bottom: 0;
                            height: 55%;
                            transform: rotate(20deg) scaleX(-1);
                            opacity: 0.9;
                        }
                        .tree4 {
                            left: 20%;
                            bottom: 0;
                            height: 100%;
                            transform: rotate(-0deg);
                            opacity: 0.9;
                        
                        }
                    }
                }
            }
        }
    }
}

@keyframes hide {
    0%{
        transform: translateY(0) scale(1);
    }
    100%{
        transform: translateY(100%) scale(0);
    }
}
@keyframes show {
    0%{
        transform: translateX(-300px) scale(0);
    }
    100%{
        transform: translateX(0) scale(1);
    }
}