@import "variables.scss";

.topBannerContainer{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $color-2;
    background-color: $color-1;
    padding: 0.5em 0;
    z-index: 3;
    p{
        font-weight: 800;
    }
}