@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(./images/rock-on.png), auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 4em;
  font-weight: 600;
  /* font-family: 'Fasthand', cursive; */
  font-family: 'Chela One', cursive;
}
h2{
  font-size: 2em;
  font-weight: 600;
  font-family: 'Chela One', cursive;
}
